header .layer-inset {
  align-items: flex-start;
  display: flex;
  gap: 1.5rem;
  justify-content: space-between;
}

header nav {
  display: flex;
  flex: 1;
  gap: 1.5rem;
}

header nav a {
  color: var(--color-half);
}

header nav a:hover {
  color: var(--color-darkest);
}

#last-updated {
  color: var(--color-half);
}

#last-updated:empty {
  display: none;
}

.brand {
  align-items: center;
  display: flex;
  font-size: 1.5rem;
  font-weight: 700;
  gap: 0.5rem;
  letter-spacing: -0.03em;
}

.logo {
  color: var(--color-darkest);
  font-size: 1.5rem;
  font-weight: 700;
  text-decoration: none;
}

.logo-apps {
  font-variant: small-caps;
}

.logo-jen {
  font:
    400 3rem Sacramento,
    cursive;
}

section .layer-inset {
  align-items: stretch;
  gap: 0.5rem;
}

footer .layer-inset {
  align-items: flex-end;
  color: var(--color-half);
  display: flex;
  justify-content: space-between;
}
